
<div id="all-notes">
  <table id="notes-table">
    <tr>
      <td>Note</td>
      <td>Completed</td>
      <!-- <td>Change<br>
        Status</td> -->
    </tr>
   <% if @notes %>
    <% @notes.each do |note| %>
      <tr class="note-row">
        <td><a href="/notes/<%= note.id %>"><%= note.content %></a><br>
          <%= note_timestamp(note) %><br>
          <a href="/notes/<%= note.id %>/edit" title="Edit This Note">[edit]</a> | <a href="" title="Change Completion Status">[update]</a> | <a href="/notes/<%= note.id %>/delete" title="Delete This Note">[delete]</a></td>
        <td><a class="current-status" href="/notes/<%= note.id %>/complete"><%= note.complete %></a></td>
         <!-- <td>
            <form action="/notes/<%= note.id %>/complete" method="POST" >
              <input type="hidden" name="_method" value="PUT">

              <% if note.complete %>
                <input type="checkbox" name="note[complete]" value=false>false</input><br>
              <% else %>
                <input type="checkbox" name="note[complete]" value=true>true</input><br>
              <% end %>
              <input type="submit" name="submit" value="Update"/>
            </form>
          </td> -->
      </tr>
    <% end %>
   <% else %>
    <p>Your notes queue is empty.  Create a note!</p>
   <% end %>
  </table>
</div>