
<div id="note-index">
  <table id="notes-table">
    <tr>
      <td>Note</td>
      <td>Completed</td>
    </tr>
   <% if @notes.empty? %>
     <% make_first_note %>
   <% elsif @notes.length > 1 && first_note %>
     <% complete_first_note %>
   <% else %>
    <% @notes.each do |note| %>
      <tr class="note-row">
        <td><a href="/notes/<%= note.id %>"><%= note.content %></a><br>
          <%= note_timestamp(note) %><br>
          <a href="/notes/<%= note.id %>/edit" title="Edit This Note">[edit]</a> | <a href="/notes/<%= note.id %>/complete" title="Change Completion Status">[update]</a> | <a href="/notes/<%= note.id %>/delete" title="Delete This Note">[delete]</a></td>
        <td class="current-status"><a class="current-status" href="/notes/<%= note.id %>/complete"><%= note.complete %></a></td>
      </tr>
    <% end %>
   <% end %>
  </table>
</div>